@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 64px 12px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.text-primary {
  color: rgba(255, 255, 255, 1);
}
.bg-dark {
  background: rgba(41, 43, 50, 1) !important ;
  color: rgba(255, 255, 255, 1) !important;
}
.bg-light {
  background: #f7f7f8;
  /* color: #0000 !important; */
}
.bg-light-secondary {
  background: #ffff !important;
}
.bg-dark-secondary {
  background: rgba(59, 62, 71, 1);
}
.resp-wrap {
  flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  /* Your styles for screens with a maximum width of 768px */
  .resp-wrap {
    flex-wrap: wrap;
  }
}
